 //CONTENEDOR DE CONTACTO//
 /* ===== CONTENEDOR DE CONTACTO ===== */
section{

    .contenedor_contacto{
    display: grid;
    grid-template-columns: repeat(2,340px);
    gap: 165px;
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    background-color: #2c2c2c;
    padding-top: 100px;
    padding-bottom: 100px;

        .info_contacto{
        color: #c5c5c5;
            
            h3 {
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 30px;
            margin-bottom: 10px;
            }
            h4 {
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 30px;
            margin-bottom: 0px;
            }
            
            p {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 10px;
            }

            #parrafo{
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 6px;
            }
            
            #parrafo2{
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 6px;
            }
        }

        form {
            margin:0 auto;
            width:400px;

            label {
            font-family:Arial, Helvetica, sans-serif;
            color: #c5c5c5;
            display:block;
            margin-left: 10px;
            margin-top:20px;
            letter-spacing:1px;
            }    

            input, textarea {
            width:380px;
            height:40px;
            background:#ffffff;
            border-radius: 1em;
            border:2px solid #292929;
            padding:10px;
            margin-top:5px;
            font-size:12px;
            color:#383838;
            }
             
            textarea {
            height:150px;
            }
             
            #submit {
            background-color: rgb(224, 224, 224);
            border-radius: 1em;
            font-size: 13px;
            width:100px;
            height:35px;
            border:none;
            margin-left: 10px;
            margin-top:40px;
            cursor:pointer;
            

                &:hover {
                background-color: rgb(179, 179, 179);
                transition: all .5s;
                box-shadow: 0px 0px 10px 10px rgb(34, 34, 34);
                background-blend-mode: multiply; 
                }
            }
        }
        
    }

}